p, li{
    font-size:17px;
    line-height: 2;
    letter-spacing: 1px;
}

h1{
    font-size:65px;
    text-align: center;
    margin:0;
    padding: 20px 0;
    color:darkgreen;
    text-shadow: 3px 2px 1px black;
}

#quote {
    font-style:italic; 
} 

.para {
    font-size:25px;
    color:darkolivegreen;
    font-family: Arial, Helvetica, Times;
    font-weight: bold;
}

body{
        margin:0 auto;
        padding:0 20px 20px 20px;
        width: auto;
        border: 10px solid black;

}
html{
    background-color: gray;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
}
img{ /* centers image*/
    display: block;
    margin: 0 auto; 
}
